rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are open for development and are NOT secure.
    // You must secure these rules before deploying to production.
    // This rule allows anyone to read and write to your database.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
